.navbar-image {
  object-fit: scale-down;
  margin-left: -20px;
  margin-right: 20px;
  cursor: pointer;
}

.custom-navbar {
  background:var(--bs-dark) !important;
  padding: 0;
}

.custom-navbar .navbar-nav > .nav-item > .nav-link {
  font-size: 11px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  color: var(--bs-light);
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  opacity: 1 !important;
}

.custom-navbar .navbar-nav > .nav-item > .nav-link:hover {
  color: var(--bs-info-bg-subtle);
  background-color: var(--bs-gray-600);
}

.custom-navbar .navbar-nav > .nav-item.active > a {
  color: var(--bs-info);
  background-color: var(--bs-gray-700);
}

.custom-navbar .navbar-toggler {
	border: none;
	color: rgba(255, 255, 255, 0.5) !important;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: .1em;
}

.custom-navbar .navbar-toggler:focus {
	outline: none !important;
}

@media (max-width: 991px) {
  .custom-navbar .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: .9rem;
    padding-bottom: .9rem;
  }

  .custom-navbar {
    position: relative;
    top: 0;
    padding: 10px 15px;
  }

  .custom-navbar .navbar-nav {
    padding-bottom: 10px;
  }

  .custom-navbar .navbar-nav > .nav-item.active > a:before {
    display: none;
  }
}

@media (max-width: 768px) {
  #Banner {
    visibility: hidden;
    display: block !important;
    height: 0;
  }

  
}

.BannerShapeL > a,
.BannerShapeR > a {
  text-decoration: none;
}

.BannerShapeL > a > p {
  margin-top: -50px
}

.BannerShapeR > a > p {
  margin-top: 6px;
}

.BannerShapeL {
	border-top: 60px solid var(--bs-black);
	border-left: 0px solid transparent;
	border-right: 50px solid transparent;
	height: 60px;
}

.BannerShapeR {
	border-bottom: 60px solid var(--bs-black);
	border-left: 50px solid transparent;
	border-right: 0px solid transparent;
	height: 60px;
}

.BannerImage {
  height: 60px;
}