.partner-img {
  object-fit: contain;
}

.dark-partner-image {
  background-color: var(--bs-dark) !important;
}

@media (max-width: 992px) {
  article > div {
    flex-wrap: wrap!important;
  }

  img {
    margin-right: auto!important;
    margin-left: auto!important;
  }
}